.flatform {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 86%;

}
.flatFormSection {
    display: flex;
    flex-direction: row;
    width: 86%;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-between;

    .flatFormSection__left, .flatFormSection__right {
        width: 48%;
    }
}
.tagsList {
    margin-top: 30px;
    display: flex;
    padding-left: 0;

    .tag {
        list-style: none;
        padding: 5px 0;
        margin-right: 10px;
        width: 115px;
        border-radius: 0.8em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        background-color: #FF6060;
    }
}
.profil {
    .profil__name-pix {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        
        .profil__name {
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            align-items: end;
        }
        .profil__photo {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            object-fit:fill;
        }
    }
    .profil__rating {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 20px;
        
        .rating__list {
            display: flex;
            flex-direction: row;
        
            .rating__item {
                list-style: none;
            }
        }
    }
}

@media (max-width: 940px) {
    .flatFormSection {
        flex-wrap: wrap;

        .flatFormSection__left, .flatFormSection__right {
            width: 100%;
        }
    }
    .profil {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
    }
}